<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH heroes</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="/turing">Turing</a>
                </li>
                    
                <li><a href="/hamiltom">Hamilton</a>
                </li>
                <li>
                    <a href="/lovelace">Lovelace</a>
                </li>
                <li>
                    <a href="/hopper">Hopper</a>
                </li>
                <li>
                    <a href="/babbage">Babbage</a>
                </li>
                <li>
                    <a href="/berners-lee">Berners-Lee</a>
                </li>
                <li>
                    <a href="/clarke">Clarke</a>
                </li>
            </ul>
        </nav>

    </header>
</body>

</html>